<div [@scrollCards]="animationState" class="container">
  <div
    *ngFor="let rocket of rockets; let i = index"
    class="rocketParallaxGroup"
  >
    <div
      [ngClass]="{ bluetoblackBg: i % 2 === 0, blacktoblueBg: i % 2 !== 0 }"
      class="rocket__background"
    ></div>
    <div class="rocket__animation">
      <img
        src="assets/img/{{ rocket.name }}.png"
        class="rocket__animationImage"
      />
      <div class="rocket__animationFlame"></div>
    </div>
    <div class="rocket__name">
      <h1>Name</h1>
      <p>{{ rocket.name }}</p>
    </div>
    <div class="rocket__stages">
      <h1>Stages</h1>
      <p>{{ rocket.stages }}</p>
    </div>
    <div class="rocket__boosters">
      <h1>Name</h1>
      <p>{{ rocket.boosters }}</p>
    </div>
    <div class="rocket__costPerLaunch">
      <h1>Cost per launch</h1>
      <p>{{ rocket.cost_per_launch }}</p>
    </div>
    <div class="rocket__successRate">
      <h1>Success Rate</h1>
      <p>{{ rocket.success_rate_pct }}</p>
    </div>
    <div class="rocket__firstFlight">
      <h1>First Flight</h1>
      <p>{{ rocket.first_flight }}</p>
    </div>
  </div>
  <!--
name: String;
  type: String;
  active: Boolean;
  stages: Number;
  boosters: Number;
  cost_per_launch: Number;
  success_rate_pct: Number;
  first_flight: String;
  country: String;
  company: String;
  height: {
    meters: Number;
    feet: Number;
  };
  diameter: {
    meters: Number;
    feet: Number;
  };
  mass: {
    kg: Number;
    lb: Number;
  };
  payload_weights: [Object];
  first_stage: {
    reusable: Boolean;
    engines: Number;
    fuel_amount_tons: Number;
    burn_time_sec: Number;
    thrust_sea_level: {
      kN: Number;
      lbf: Number;
    };
    thrust_vacuum: {
      kN: Number;

      lbf: Number;
    };
  };
  second_stage: {
    reusable: Boolean;
    engines: Number;
    fuel_amount_tons: Number;
    burn_time_sec: Number;
    thrust: {
      kN: Number;
      lbf: Number;
    };
    payloads: {
      option_1: String;
      composite_fairing: {
        height: {
          meters: Number;
          feet: Number;
        };
        diameter: {
          meters: Number;
          feet: Number;
        };
      };
    };
  };
  engines: {
    number: Number;
    type: String;
    version: String;
    layout: String;
    isp: {
      sea_level: Number;
      vacuum: Number;
    };
    engine_loss_max: Number;
    propellant_1: String;
    propellant_2: String;
    thrust_sea_level: {
      kN: Number;

      lbf: Number;
    };
    thrust_vacuum: {
      kN: Number;
      lbf: Number;
    };
    thrust_to_weight: Number;
  };
  landing_legs: {
    number: Number;
    material: Object;
  };
  flickr_images: [String];
  wikipedia: String;
  description: String;
}
--></div>
