.capsules-container {
  background-color: #000000;
  margin: 10px auto 0 auto;
  display: flex;
  width: 85vw;
  height: 100%;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  flex-wrap: wrap;
  float: left;
}
